*
{
    box-sizing: border-box;
    margin: 0;

}
main[data-before-load]
{
    backdrop-filter: blur(5px);
}
div[data-before-load='blur']
{
    filter: blur(4px);
}
div[data-before-load='unblur']
{
    filter: blur(0px);
}

p
{
    color: #FFFFFF;
}
body
{
    font-family: 'Roboto';
}
.header-location
{
    position: absolute; 
    width: -webkit-fill-available;
    height: 45px; 
    
    background-color: rgba(217, 217, 217, 0.35);
}
#heading-txt
{
padding-left: .6em;
}
.heading-text
{
position: absolute;
font-weight: 500;
font-size: 18px;
padding-top: 11px;
display: flex;

color: #ffffff;
}
.sub-header
{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#main-section
{
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}

.main-container
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1400px;
    height: 40em;
    width: 100%;
flex-wrap: wrap;
padding: 2.5em 3em 1em 3em;
background: rgb(81 170 220 / 64%);
box-shadow: 2px 3px 10px 1px rgb(182 224 255 / 26%);
border-radius: 10px;
}
main
{
    display: flex;
    justify-content: center;
    height: 54.5em;
    flex-direction: column;
    padding: 8em 3em 10em 3em;
}
.current-location-info
{
  display: flex;
  width: 27%;
  flex-wrap: wrap;
  align-content: flex-start;

}
.location-row-1
{

font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: rgba(0, 0, 0, 0.21);
}
#location-row-2
{
font-weight: 700;
font-size: 3.5rem;
color: #000000;
}
.location-row-3
{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
color: #FFFFFF;
}
#location-row-2-temp
{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}
.location-row-4
{
font-weight: 300;
padding-top: 5px;
font-size: 16px;
color: #FFFFFF;
}

.current-weather-info 
{
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  height: 21em;
  align-content: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.more-weather-info
{
    display: flex;
    width: 23%;
    flex-wrap: wrap;
    align-content: flex-start;
}
.current-time-row-1
{
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
}
.current-condition-row-3
{
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;

}
#current-temp-row-4
{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 5rem;
text-align: center;
color: #000000;
}
.updated-time-row-1, .timezone-row
{
font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
font-weight: 500;
text-transform: uppercase;
text-align: center;
font-size: 16px;
color: rgba(0, 0, 0, 0.21);
}
.more-info-row-2
{
    display: inline-flex;
    width: 236px;
    align-items: center;
    padding-top: 5px;
    justify-content: space-between;
}
.high-temp
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.high-temp-txt
{
    padding-left: 5px;
    font-weight: 600;
}
.low-temp
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.low-temp-txt
{
    padding-left: 5px;
    font-weight: 600;
}
.info-txt > p
{
font-style: normal;
font-weight: 400;
font-size: 18px;
text-decoration-line: underline;
color: #FFFFFF;
}
.info-txt
{
display: flex;
width: 50%;
flex-direction: column;
}
.info-txt > span{
    font-weight: 600;
    margin-top: 5px;
}

.more-info-row-3
{
    display: flex;
    padding-top: 13px;
    flex-wrap: wrap;
    height: 7em;
    width: 100%;
    justify-content: space-between;
}

.second-container
{
display: flex;
width: 100%;
height: 1em;
justify-content: space-between;
flex-direction: row;
padding: 1em;
background: rgba(0, 0, 0, 0.784);
border-radius: 5px;
}
.second-cont-row
{
    display: inline-flex;
    align-items: center;
}
.cont-row-txt
{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 13px;
}
.cont-row-txt > span
{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
     color: rgb(255, 255, 255);
}
.second-cont-row > img
{
    height: 30px;
    width: 30px;
}

.current-weather-info > img{
    width: 200px;
    height: 198px;
}



